In [109]:
import pandas as pd
import numpy as np
import datetime
path = "task_1.csv"

In [110]:
#dateparse = lambda x: datetime.datetime.strptime(x, '%d-%m-%Y %H:%M:%S')
tmp = pd.read_csv(
    path,
    encoding = "cp1251",
    sep=";",
    on_bad_lines='skip',
    header=0,
    names=[
        "number",
        "type",
        "service",
        "priority",
        "status",
        "dt_create",
        "dt_solve",
        "dt_close",
        "firm",
        "group",
        "set",
        "client",
        "topic",
        "sla"
    ],

)

#####  1. Рассчитайте предварительные показатели для 1 квартала 2022 и подготовьте динамику для сравнения за предыдущие периоды

In [111]:

tmp[["dt_create", "dt_solve", "dt_close"]]  = tmp[["dt_create", "dt_solve", "dt_close"]].astype('datetime64')
df = tmp.loc[
        (tmp["type"] == "Инцидент") &
        (tmp["client"] != 'Мониторинг') &
        (tmp["sla"] == 'Да') &
        (tmp["service"].isin(["НОП", "TelcoCloud", "Платформа Цифровых Продуктов", "РТК-Экраны", "ЗСПД ЕГИСЗ", "ППЭ"])) &
        (tmp["firm"] == 'ДЭФИР') 
    ]
df

df['quoter'] = df['dt_solve'].dt.quarter
pd.pivot_table(df, values='number',  index='service', columns='quoter', aggfunc='count')

quoter                          1    2    3    4
service
TelcoCloud                      4    6    5    7
ЗСПД ЕГИСЗ                      9    3   12   15
НОП                           183  262  221  270
ППЭ                             5    4   17   13
Платформа Цифровых Продуктов    6   11    3    7
РТК-Экраны                      4    6   13    7

##### 2. Рассчитайте, какая группа специалистов ДЭФИР решила больше всего обращений за 2 квартал 2021 года с учетом, что решившая группа остается заполненной в поле Назначенная группа.

In [112]:
df.loc[df['quoter'] == 2, ['number', 'group']].groupby('group').count()

          number
group
Группа 1      53
Группа 2      67
Группа 3      57
Группа 4      50
Группа 5      65